body{
  font-family: 'Source Code Pro', monospace;
    background-color: rgb(25,25,25);
  color: rgba(255, 255, 255, 0.75);





}
#table{

  margin-left: auto;
  margin-right: auto;
  margin-top: 15vh;

  text-align: center;
  border-color:  rgba(255, 255, 255, 0.75);
font-size: 1.5em;
}

h1{
  position: absolute;
  left: 25vw;
  top: 5%;
    text-align: center;
    width: 50vw;
    font-size: 2.4em;
}
table, th, td{
  border: 0.1px solid;
  border-collapse: collapse;

}
#backbt{
  /*tło przycisku */
  background-image: url(backbt.png);
  background-position: center;
  background-size: 100%;
  background-color: rgba(255, 255, 255, 0.75);

  /* forma */
  height: 1.5vw;
  width: 1.5vw;
  border: 0;
  border-radius: 5em;

  /* pozycja */
  position: absolute;
  top: 1.5%;
  left: 1.5%;

}
#pz{
  position: absolute;
  right: 0.3vw;
  top: 0%;
}
#pza{
color:rgba(255, 255, 255, 0.75);
}
div{
position: absolute;



width: 100vw;
height: 100vh;
  text-align: center;
}
